body {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}

div#content {
    width: 100%;
}

pre {
    white-space: pre-wrap;
}

.code {
    font-size: 1em;
    font-family: "Source Code Pro", monospace;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-heavy {
    font-weight: 600;
}

table.code {
    border: 2px solid;
    border-spacing: 0;
    border-color: #000;
}

table.code td, th {
    border-spacing: 0;
    border-style: none;
    padding: .25em;
}

table.code th {
    color: #FFF;
    background-color: #000;
    padding-top: .5em;
    padding-bottom: .5em;
    text-transform: uppercase;
    font-size: 1.1em;
}

table.code tr:nth-child(odd) {
    background-color: #C0C0C0;
}

div#file-manager .icon {
    padding: 0 7px 0 7px;
    vertical-align: center;
    font-size: 1.5em;
}

div#file-manager .icon a {
    text-decoration: none;
}

div#file-manager div.icon a {
    color: #FFF;
}

div#file-manager td.icon a {
    color: #FF0000;
}

div#file-manager {
    display: table;
    width: 100%;
}

div#file-manager table {
    width: 100%;
    font-size: 1em;
}

div#file-manager div.header {
    background-color: #000;
    display: table-row;
    color: #FFF;
}

div#file-manager div .controls {
    font-size: 1.3em;
    padding: 0 7px 0 7px;
    display: inline-block;
}

div#file-manager div.path {
    display: inline-block;
}

div#file-manager table .controls {
    width: 25px;
}

div #file-manager .mtime {
    width: 35%;
}

div #file-manager .size {
    width: 15%;
}

div.upload-form {
    display: block;
    margin-bottom: 5px;
}

div.create-form {
    display: block;
    margin-bottom: 5px;
}

div.upload-form input[type=file] {
    font-family: "Source Code Pro", monospace;
}
