<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Some App{% endblock %}</title>
    <link rel= "stylesheet" type="text/css" href= "{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {%- block header %}
    <header>
        <h1>Some App</h1>
    </header>
    {% endblock %}
    {%- block nav %}
     <nav>
        <a href="/path/to/link">Link 1</a> |
        <a href="/path/to/link">Link 2</a>
    </nav>
    {% endblock %}
    <div id=content>
    {%- block content %}
        <h2>Base</h2>
        <p>This is the base template</p>
    {%- endblock %}
    </div>
</body>
</html>