<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Some App{% endblock %}</title>
    <link rel= "stylesheet" type="text/css" href= "{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
</head>
<body>
    {%- block header %}
    <header>
        <h1>Some App</h1>
    </header>
    {% endblock %}
    {%- block nav %}
    <nav>
        <a href="/path/to/link">Link 1</a> |
        <a href="/path/to/link">Link 2</a>
    </nav>
    {% endblock %}
    {%- block flashes %}
    <div id="flashes">
    {%- with messages = get_flashed_messages() %}
        {%- if messages %}
        <ul class=flashes>
          {%- for message in messages %}
          <li>{{ message }}</li>
          {%- endfor %}
        </ul>
        {%- endif %}
    </div>
    {%- endwith %}
    {%- endblock %}
    <div id=content>
    {%- block content %}
        <h2>Base</h2>
        <p>This is the base template</p>
    {%- endblock %}
    </div>
</body>
</html>